@import '~skeleton-scss/scss/skeleton.scss';
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import '~animatewithsass/_properties.scss';
@import '~animatewithsass/_attention-seekers/_shake.scss';
@import '~animatewithsass/_attention-seekers/_pulse.scss';

// Colors
// $light-grey: #e1e1e1 !default;
// $dark-grey: #333 !default;
// $primary-color: #33c3f0 !default;
// $secondary-color: lighten($dark-grey, 13.5%) !default;
// $border-color: #bbb !default;
// $link-color: #1eaedb !default;
// $font-color: #222 !default;
$error-color: #a94442;
$error-background: #f2dede;
$error-border: #ebccd1;


// ---------------------
// Header
// ---------------------

.header--logo {
  @extend .fa;
  @extend .fa-keyboard-o;
  @extend .fa-4x;
  float: left;
  margin-right: 10px;
}
.header--text {
}

// ---------------------
// Autocopmelte
// ---------------------

.autocomplete-input {
  @extend .u-full-width;
  margin: 0;
  padding: 10px;
  height: 40px;
}
.autocomplete-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.autocomplete-item {
  @extend .u-full-width;
  height: 40px;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  margin: 0;
  padding: 10px;
  cursor: pointer;
}
.autocomplete-item--selected {
  background-color: $primary-color;
}


// ---------------------
// Repo Search
// ---------------------

.repo-search-spinner {
  @extend .fa;
  @extend .fa-spinner;
  @extend .fa-pulse;
  @extend .fa-2x;
  @extend .fa-fw;
  float: right;
  margin-top: -35px;
  position: relative;
  z-index: 2;
  display: none;
}
.repo-search-spinner--loading {
  display: inline;
}

// ---------------------
// Tutor
// ---------------------

.tutor-text {
  font-family: Monaco, monospaced;

  p {
    margin: 0;
  }
}
.tutor-active-char {
  background-color: $primary-color;
}
.tutor-active-char--error {
  background-color: $error-background;
}
.tutor-action-button--initial {
  @include pulse($count: infinite);
}
.tutor-nav {
  button, span {
    margin-right: 5px;
  }
  span {
    padding-right: 5px;
    border-right: 1px solid $border-color;
    &:last-child {
      border-right: none;
    }
  }
}
#tutor-input {
  width: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
  border: none;
}
.tutor-error {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  padding: 20px;
  color: $error-color;
  background-color: $error-background;
  border-color: $error-border;
  text-align: center;
  line-height: 1.2;
}
.tutor-error--show {
  display: block;
}

// ---------------------
// Error
// ---------------------

.error-text {
  margin-top: 10px;
  padding: 10px;
  color: $error-color;
  background-color: $error-background;
  border-color: $error-border;

  p {
    margin-bottom: 0;
  }
}